*{
    margin: 0;
    box-sizing: border-box;
}



header{
    background-color: lightblue;
    width: 100vw;
    height: 12vh;
}

h1{
    text-align: center;
    padding: 1%;
}

section{
    display: flex;
    
}


aside{
    background-color: aqua;
    width: 18vw;
    /* Auto adjusts height to always have content be within the boarder. */
    height: auto;
    /* Minimum height length has to be the height of the screen*/
    min-height: 88vh;
    display: flex;
    flex-direction: column;
}

/** centering aside text **/
.aside-nav-bar{
    margin: 2% auto;
}

main{
    background-color: blue;
    width: 82vw;
    height: auto;
}